<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
  <h1>アカマル攻略詳細</h1>
<h2>基本情報</h2>
  <p>難易度VH想定</p>
  <table border="1">
    <% for( let row of data ) { %>
      <tr>
        <td>ステージ</td>
      </tr>
      <tr>
        <td><%= row.ステージ %></td>
      </tr>
        <tr>
             <td>スタイル</td>
             <td>クラス</td>
            <td>覚醒ゲージ</td>
            <td>種族</td>
        </tr>
        <tr>
            <td><%= row.スタイル %></td>
            <td><%= row.クラス %></td>
            <td><%= row.覚醒ゲージ %></td>
            <td>悪魔</td>
        </tr>
        <tr>
             <td>id</td>
             <td>名前</td>
             <td>HP</td>
            <td>攻撃力</td>
            <td>防御力</td>
            <td>素早さ</td>
        </tr>
        <tr>
            <td><%= row.id %></td>
            <td><%= row.名前 %></a></td>
            <td><%= row.HP %></td>
            <td><%= row.攻撃力 %></td>
            <td><%= row.防御力 %></td>
            <td><%= row.素早さ %></td>
        </tr>
      <% } %>
  </table>
  <table border="1">
        <tr>
             <td>スキル</td>
             <td>覚醒スキル</td>
            <td>奥義</td>
        </tr>
        <tr>
             <td>敵単体にかばう効果を無視する攻撃力[0.85倍]の3連続ダメージ。さらに2ターンの間、防御力を[30%]低下</td>
             <td>敵単体に攻撃力0.85倍の3連続ダメージ。さらに[50%]の確率で即死させる</td>
            <td>敵全体に攻撃力[3倍]の防御無視ダメージ</td>
        </tr>
  </table>
<h2>攻略の基本</h2>
   <h4>＜<a href="/M-syousai/1">マルコシアス</a>を活用しよう＞</h4>
        マルコシアスはこのステージに非常に適した性能をしている。特性の悪魔に対してダメージ二倍やスキルや奥義の追加効果も耐性が高くないため通りやすく攻撃と妨害を同時に行うことが可能となっている。

    <h4>＜基本的な動き＞</h4>
        技の危険度を表すと奥義＞覚醒スキル＞スキル＞アタックのようになっておりこの中では比較的に危険度が比較的に低いスキルであっても運が悪いと耐久力の低いヒーラーやアタッカーが狙われてしまい戦線の維持が困難になってしまうので<a href="/Q-syousai/3">スキルフォトン</a>はなるべく自分で取るようにするか<a href="/Q-syousai/4">感電</a>を利用するのがおすすめ<br>
        <input type="button" onclick="history.back()" value= "戻る">
</body>
</html>