<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>一覧</h2>
  <table border="1">
      <% for( let row of data ) { %>
        <tr>
             <td>id</td>
             <td>名前</td>
             <td>HP</td>
            <td>攻撃力</td>
            <td>防御力</td>
            <td>素早さ</td>
        </tr>
        <tr>
            <td><%= row.id %></td>
            <td><a href="/M-syousai/<%= row.id %>"><%= row.名前 %></a></td>
            <td><%= row.HP %></td>
            <td><%= row.攻撃力 %></td>
            <td><%= row.防御力 %></td>
            <td><%= row.素早さ %></td>
        </tr>
      <% } %>
  </table>
        <td><a href="/public/megido.html">並べ替え</a><br></td>
        <input type="button" onclick="history.back()" value= "戻る">&nbsp<input type="button" onclick="location.href='/public/add.html'"value="追加">
</body>
</html>