<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>一覧</h2>
  <table border="1">
      <% for( let row of data ) { %>
        <tr>
             <td>スタイル</td>
             <td>クラス</td>
        </tr>
        <tr>
            <td><%= row.スタイル %></td>
            <td><%= row.クラス %></td>
        </tr>
        <tr>
             <td>名前</td>
             <td>HP</td>
            <td>攻撃力</td>
            <td>防御力</td>
            <td>素早さ</td>
        </tr>
        <tr>
            <td><a href="/m-syousai"><%= row.名前 %></a></td>
            <td><%= row.HP %></td>
            <td><%= row.攻撃力 %></td>
            <td><%= row.防御力 %></td>
            <td><%= row.素早さ %></td>
        </tr>
        <td><a href="/public/megido.html">並べ替え</a><br></td>
      <% } %>
  </table>
</body>
</html>