<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>レース一覧</h2>
  <from>
    <a herf="/public/search.html">検索</a></from>
  <table>
      <% for( let row of data ) { %>
        <tr>
            <td><%= row.id %></td>
            <td><a herf="/r-syousai/<%= row.id %>"><%= row.name %></td>
            <td><%= row.course %></td>
            <td><%= row.kyori %></td>
        </tr>
      <% } %>
  </table>
</body>
</html>