<meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>レース詳細</h2>
  <table>
      <% for( let row of data ) { %>
        <tr>
            <td><%= row.id %></td>
            <td><%= row.name %></td>
            <td><%= row.course %></td>
            <td><%= row.tekiseikyori %></td>
            <td><%= row.kyakusitu %></td>
            <td><%= row.seibetu %></td>
            <td><%= row.tuusann %></td>
        </tr>
        <a herf="/public/add.html">追加</a>
      <% } %>
  </table>
</body>
</html>